# PostgreSQL connection string
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/mydatabase

# Security
SECRET_KEY=your-super-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Project
PROJECT_NAME=FastAPI Project

#Psycopg connection string
PSYCOPG_URL=postgresql://postgres:postgres@localhost:5432/postgres" # usually using port 5432
DATABASE_NAME = mydatabase